<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <title>Victory101 Flask App</title>
        {% block styles %}{% endblock styles %}
    </head>
    <body>
        <nav>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/form">Form</a>
            <a class="nav-link" href="/info">Info</a>
        </nav>
        {% block content %}
            <h1 class="nav-link">Hello, World</h1>
        {% endblock %}
    </body>
</html>